* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fefdfc;
    color: #432919;
    font-family: 'Open Sans';
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
}

/* #ac562c */

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.presentationSection {
    align-items: end;
    display: flex;
    gap: 20px;
    height: 100%;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

img {
    border-radius: 10px;
    width: 30vw;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.rateDiv {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.rateDiv i {
    color: #faba13;
}

.specificationsDiv {
    display: flex;
    border-radius: 10px;
    width: fit-content;
}

.specificationsDiv i {
    font-size: 24px;
}

.specification {
    align-items: center;
    border: 1px solid #432919;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    width: 190px;
}

.borderRadiusLeft {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.noBorderSides {
    border-left: none;
    border-right: none;
}

.borderRadiusRight {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shareDiv {
    border: 1px solid #432919;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.socialNetworksDiv {
    display: flex;
    gap: 20px;
}

.socialNetwork {
    background-color: #f2e9de;
    border-radius: 50%;
    padding: 10px;
}

.socialNetwork i {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
}